.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: #ececec;
  font-family: "Merriweather Sans", sans-serif;
  color: #385170;
}

.search-form {
  margin-bottom: 20px;
}

h1 {
  color: #9fd3c7;
  font-family: "Noto Serif Display", serif;
}

h2 {
  font-size: 54px;
}

.wrapper {
  max-width: 650px;
  border: 1px solid #385170;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
}

.credentials {
  text-align: center;
}
