.metrics {
  list-style: none;
}

.icon {
  font-size: x-large;
  color: #385170;
}

.tag {
  text-align: center;
  padding: 5px;
}

.weather-temperature {
  margin-top: 20px;
}

.unit {
  font-size: 18px;
  position: relative;
  top: -25px;
}
