.WeatherForecast {
  text-align: center;
  margin: 10px 0;
}

.WeatherForecast-day {
  margin-bottom: 10px;
}

.WeatherForecast-icon {
  margin-bottom: 10px;
}

.WeatherForecast .WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
